<<<<<<< HEAD
label {
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 10px;
  font-weight: 700;
  font-family: "Microsoft soft";
}
legend {
  text-align: left;
  padding: 2px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Microsoft soft";
  padding-bottom: 5px;
}
option {
  padding: 5px;
  text-align: left;
  font-family: "Microsoft soft";
}
.icon {
  transform: scale(1.5);
  padding-right: 10px;
  padding-left: 3px;
}
.slider {
  width: 135px;
}
.ratio {
  height: 30px;
  width: 75px;
  font-size: 5px;
  font-weight: 700;
  font-family: "Microsoft soft";
}
.date {
  top: 5px;
  width: 250px;
  left: 5px;
  font-weight: 700;
  height: 30px;
}
.time {
  top: 5px;
  width: 250px;
  left: 5px;
  font-weight: 700;
  height: 30px;
}
.temporal {
  padding-bottom: 10px;
}
=======
label {
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 10px;
  font-weight: 700;
  font-family: "Microsoft soft";
}
legend {
  text-align: left;
  padding: 2px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Microsoft soft";
  padding-bottom: 5px;
}
option {
  padding: 5px;
  text-align: left;
  font-family: "Microsoft soft";
}
.icon {
  transform: scale(1.5);
  padding-right: 10px;
  padding-left: 3px;
}
.slider {
  width: 135px;
}
.ratio {
  height: 30px;
  width: 75px;
  font-size: 5px;
  font-weight: 700;
  font-family: "Microsoft soft";
}
.date {
  top: 5px;
  width: 250px;
  left: 5px;
  font-weight: 700;
  height: 30px;
}
.time {
  top: 5px;
  width: 250px;
  left: 5px;
  font-weight: 700;
  height: 30px;
}
.temporal {
  padding-bottom: 10px;
}
>>>>>>> 1a8d03daa8f554b10e21a354b27cf5da96127b85
